* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: rgb(138, 61, 71);
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    color: #fff;
}

body {
    background-color: rgb(138, 61, 71);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-image: url('./images/rainy-window.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: main;
    padding: 20px;
}

/*.main-content {
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(138, 61, 71);
    padding: 10px;
    font-weight: bold;
}*/

.main-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

.main-button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(138, 61, 71);
    color: #fff;
    &:hover {
        background-color: rgb(100, 30, 38);
        cursor: pointer;
        transform: scale(1.05);
        transition: all 0.3s ease;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
}

.footer {
    background-color: rgb(138, 61, 71);
    color: #fff;
    padding: 20px;
    text-align: center;
    grid-area: footer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 18px;
}

.footer a {
    display: inline-block;
    margin: 0 8px;
}

.footer-icon {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    color: #fff;
}


.daily-weather {
    background-color: rgb(138, 61, 71);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;
}


.daily-weather-icon {
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.daily-weather-header {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.temp-switch {
    margin-top: 10px;
    border-radius: 9999px;
    border: none;
    color: #fff;
    height: 32px;
    width: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.temp-switch-toggle {
    position: relative;
    left: -15px;
    background-color: rgb(138, 61, 71);
    border-radius: 9999px;
    padding: 8px;   
    transition: all 0.3s ease;
}

.temp-switch-toggle:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.3s ease;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.temp-switch-toggle.checked {
    left: 15px;
    background-color: #be1a1a;
}

